DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=tasiburada123
DB_NAME=tasiburada_dev
DB_POOL=10

NODE_ENV=development
PORT=3000

# JWT Authentication
# JWT_SECRET=change_me_in_real_env

# Docker kullanıyorsan DB_PASSWORD docker-compose.yml'deki ile aynı olmalı
# Docker varsayılan şifre: tasiburada123